.logo {
    margin-top: 6%;
    text-align: center;
    h1 {
        margin: 0px;
        font-size: 3em;
        color: #fff;
    }
}

.main-container {
    min-height: 50vh;
    margin: auto;
    background-color: #361717;
    padding: 50px;
}

@media(min-width:900px) {
    .main-container {
        width: 60%;
        min-height: 50vh;
    }

    .logo {
        h1 {
            font-size: 5em;
        }
    }
}