<div class="container" *ngIf="isLoading == false">
    <div class="container__poster">
        <img src="{{details.Poster}}" alt="poster">
    </div>
    <div class="container__details">
        <h1>{{details.Title}}</h1>
        <p> <span class="title-text">Box Office: </span> {{details.BoxOffice}}</p>
        <p> <span class="title-text">Country: </span> {{details.Country}}</p>
        <p><span class="title-text">Release date:</span> {{details.Released}}</p>
        <p><span class="title-text">Runtime:</span> {{details.Runtime}}</p>
        <p><span class="title-text">Director:</span> {{details.Director}}</p>
        <p><span class="title-text">Cast:</span> {{details.Actors}}</p>
        <p><span class="title-text">Genere:</span> {{details.Genre}}</p>
        <p><span class="title-text">Plot:</span> {{details.Plot}}</p>

        <button class="btn btn-primary" (click)="back()"> Back to Home </button>   
    </div>
</div>
<div *ngIf="isLoading == true">
    <div class="spinner-container">
        <div id="loader"></div>
    </div>
</div>